<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::products"/>
<body>
<th:block th:replace="fragments/navbar"/>
<div class="container">
    <!-- Feature List - START -->
    <div class="row">

        <div id="Navigation">
            <ul class="Navigation">
                <li th:each="category : ${categories}">
                    <a th:href="@{'/products/' + ${category.name}}">
                        <h5><span th:text="${category.name}"/></h5><b class="caret"></b>
                    </a>
                    <ul th:each="model : ${category.models}">
                        <li>
                            <a th:href="@{/products/{category}/{model}(category=${category.name},model=${model.name})}"><span
                                    th:text="${model.name}"/> </a>
                            <ul class="dropdown" th:each="family : ${model.families}">
                                <li>
                                    <a th:href="@{/products/{category}/{model}/{family}(category=${category.name},model=${model.name},family=${family.name})}">
                                        <span th:text="${family.name}"/>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" id="cnt1">
        <div class=" row feature">
            <div class="col-md-4" th:each="product : ${products}">
                <div>
                    <h2><span th:text="${product.name}"/></h2>
                    <img id="productGalery" th:src="${product.image}" class="img-thumbnail"/>
                    <a th:href="@{'/product/details/' + ${product.id}}"
                       class="btn btn-default btn-outline btn-circle">See
                        More Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="scripts/script::home"/>
</body>
<th:block th:replace="fragments/pages::products"/>
</html>