<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::products"/>
<body>
<th:block th:replace="fragments/navbar"/>
<div class="container">
    <div class="container" id="cnt1">
        <div>
            <div th:each="product : ${products}">
                <div class="feature col-md-4">
                    <h2><span th:text="${product.name}"/></h2>
                    <img id="productGalery" th:src="${product.image}" class="img-thumbnail"/>
                    <a th:href="@{'/product/details/' + ${product.id}}"
                       class="btn btn-default btn-outline btn-circle">See
                        More Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="scripts/script::home"/>
</body>
<th:block th:replace="fragments/pages::products"/>
</html>