<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::materials"/>
<body>
<th:block th:replace="fragments/navbar"/>
<div class="container">
    <!-- Feature List - START -->
    <div class="row">

        <div class="page">
            <div class="row">
                <form th:action="@{/{material}/add(material=${type})}" method="POST" th:object="${currMaterial}">
                    <div class="col-md-12 form-group">
                        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="col-md-4">
                            <div class=""
                                 th:classappend="${#fields.hasErrors('material')} ? 'has-danger'">
                                <input class="list-group-item" type="text" name="material"
                                       th:field="${currMaterial.material}"
                                       placeholder="Material"/>
                                <div class="feedback"
                                     th:each="error : ${#fields.errors('material')}"
                                     th:text="|${error}|"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class=""
                                 th:classappend="${#fields.hasErrors('abbreviation')} ? 'has-danger'">
                            <input class="list-group-item" type="text" name="abbreviation"
                                   th:field="${currMaterial.abbreviation}"
                                   placeholder="Abbreviation"/>
                                <div class="feedback"
                                     th:each="error : ${#fields.errors('abbreviation')}"
                                     th:text="|${error}|"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input class="btn btn-default btn-outline btn-circle" type="submit"
                                   th:value="|Add in ${type}|"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="positionMaterials" class="row">
            <div id="Navigation">
                <ul class="Navigation">
                    <li>
                        <a th:href="@{'/materials/Frame'}">
                            <h5>Frame</h5><b class="caret"></b>
                        </a>
                        <ul th:each="frame : ${frames}">
                            <li>
                                <a th:href="@{/materials/Frame/{product}(product=${frame.material})}">
                                    <span th:text="${frame.material}"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{'/materials/Finish'}">
                            <h5>Finish</h5><b class="caret"></b>
                        </a>
                        <ul th:each="fin : ${finish}">
                            <li>
                                <a th:href="@{/materials/Finish/{product}(product=${fin.material})}">
                                    <span th:text="${fin.material}"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{'/materials/Top'}">
                            <h5>Tops-Seats</h5><b class="caret"></b>
                        </a>
                        <ul th:each="top : ${tops}">
                            <li>
                                <a th:href="@{/materials/Top/{product}(product=${top.material})}">
                                    <span th:text="${top.material}"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{'/materials/special'}">
                            <h5>Materials Tops/Seats</h5><b class="caret"></b>
                        </a>
                        <ul>
                            <li>
                                <a th:href="@{/materials/special/product}">
                                    <span>Product</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/color}">
                                    <span>Color</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/manufacturer}">
                                    <span>Manufaturer</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/manufcode}">
                                    <span>Manuf Code</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="conteiner">
            <table class="text-center table table-hover">
                <thead>
                <tr>
                    <td>
                        <span th:text="${type}"/>
                    </td>
                    <td>
                        <span>Abbreviation</span>
                    </td>
                    <td>
                        <span>Edit</span>
                    </td>
                    <td>
                        <span>Delete</span>
                    </td>
                </tr>
                </thead>
                <tbody th:each="material : ${materials}">
                <tr>
                    <td>
                        <span th:text="${material.material}"/>
                    </td>
                    <td>
                        <span th:text="${material.abbreviation}"/>
                    </td>
                    <td>
                        <a th:href="@{/materials/edit/{name}/{id}(name=${type}, id=${material.id})}">
                            <small><span th:text="${material.material}"></span></small>
                        </a>
                    </td>
                    <td>
                        <th:block th:if="${material.types.size()} == 0">
                            <a th:href="@{/materials/delete/{name}/{id}(name=${type},id=${material.id})}">
                                <small><span th:text="${material.material}"></span></small>
                            </a>
                        </th:block>
                        <th:block th:if="${material.types.size()} > 0">
                            <sub>Cannot delete non empty material</sub>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="scripts/script::home"/>
</body>
<th:block th:replace="fragments/footer::products"/>
</html>