<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::materials"/>
<body>
<th:block th:replace="fragments/navbar"/>
<div class="container">
    <!-- Feature List - START -->
    <div class="row">

        <div>
            <div class="row">
                <form th:action="'/special/delete/' + ${special.id}" method="POST">
                    <div class="col-md-12 form-group">
                        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Product</label>
                                <!--<div class=""-->
                                <!--th:classappend="${#fields.hasErrors('name')} ? 'has-danger'"/>-->
                                <input id="deleteMaterial" readonly="readonly" type="text"
                                       th:field="${special.specificProductName}" class="form-control"
                                       placeholder="Create"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Color</label>
                                <!--<div class=""-->
                                <!--th:classappend="${#fields.hasErrors('name')} ? 'has-danger'"/>-->
                                <input id="deleteMaterial" readonly="readonly" type="text"
                                       th:field="${special.colorName}" class="form-control"
                                       placeholder="Create"/>

                            </div>
                            <div class="col-md-3 form-group">
                                <label>Manufacturer</label>
                                <!--<div class=""-->
                                <!--th:classappend="${#fields.hasErrors('name')} ? 'has-danger'"/>-->
                                <input id="deleteMaterial" readonly="readonly" type="text"
                                       th:field="${special.manufacturerName}" class="form-control"
                                       placeholder="Create"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Manuf Code</label>
                                <!--<div class=""-->
                                <!--th:classappend="${#fields.hasErrors('name')} ? 'has-danger'"/>-->
                                <input id="deleteMaterial" readonly="readonly" type="text"
                                       th:field="${special.manufCodeName}" class="form-control"
                                       placeholder="Create"/>
                            </div>
                        </div>
                        <div class="page col-xs-offset-4 col-sm-4 form-group">
                            <input readonly="readonly" type="text" id="deleteMaterial" name="code" class="form-control"
                                th:field="${special.code}"   placeholder="Code"/>
                        </div>

                        <div class="page col-xs-offset-5 col-sm-4 form-group">
                            <input class="btn btn-default btn-outline btn-circle" type="submit"
                                   value="Delete Specific Material"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="positionMaterials">
            <div id='cssmenu'>
                <ul>
                    <li class="active">
                        <a th:href="@{'/materials/special'}">
                            Materials Tops/Seats
                        </a>
                        <ul>
                            <li>
                                <a th:href="@{/materials/special/product}">
                                    <span>Product</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/color}">
                                    <span>Color</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/manufacturer}">
                                    <span>Manufaturer</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/manufcode}">
                                    <span>Manuf Code</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="active"><a th:href="@{'/materials/Frame'}">Frames</a>
                        <ul>
                            <li th:each="fr : ${frames}">
                                <a th:href="@{/materials/Frame/{product}(product=${fr.material})}">
                                    <span th:text="${fr.material}"/></a>
                            </li>

                        </ul>
                    </li>
                    <li class="active"><a th:href="@{'/materials/Finish'}">Finish</a>
                        <ul>
                            <li th:each="fin : ${finish}">
                                <a th:href="@{/materials/Finish/{product}(product=${fin.material})}">
                                    <span th:text="${fin.material}"/></a>
                            </li>

                        </ul>
                    </li>
                    <li class="active"><a th:href="@{'/materials/Top'}">Top</a>
                        <ul>
                            <li th:each="top : ${tops}">
                                <a th:href="@{/materials/Top/{product}(product=${top.material})}">
                                    <span th:text="${top.material}"/></a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="conteiner">
            <table class="text-center table table-hover">
                <thead>
                <tr>
                    <td>
                        <span>Product</span>
                    </td>
                    <td>
                        <span>Color</span>
                    </td>
                    <td>
                        <span>Manufacturer</span>
                    </td>
                    <td>
                        <span>Manuf Code</span>
                    </td>
                    <td>
                        <span>Code</span>
                    </td>
                    <td>
                        <span>Edit</span>
                    </td>
                    <td>
                        <span>Delete</span>
                    </td>
                </tr>
                </thead>
                <tbody th:each="material : ${materials}">
                <tr>
                    <td>
                        <span th:text="${material.specificProductName}"/>
                    </td>
                    <td>
                        <span th:text="${material.colorName}"/>
                    </td>
                    <td>
                        <span th:text="${material.manufacturerName}"/>
                    </td>
                    <td>
                        <span th:text="${material.manufCodeName}"/>
                    </td>
                    <td>
                        <span th:text="${material.code}"/>
                    </td>
                    <td>
                        <a th:href="'/materials/special/edit/' + ${material.id}">
                            <small><span>Edit</span></small>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/materials/special/delete/' + ${material.id}">
                            <small><span>Delete</span></small>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="scripts/script::home"/>
</body>
<th:block th:replace="fragments/pages::materials"/>
</html>