<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::materials"/>
<body>
<th:block th:replace="fragments/navbar"/>
<div class="conteiner">
    <div id="positionMaterials">
        <div id='cssmenu'>
            <ul>
                <li class="active">
                    <a th:href="@{'/materials/special'}">
                        Materials Tops/Seats
                    </a>
                    <ul>
                        <li>
                            <a th:href="@{/materials/special/product}">
                                <span>Product</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/materials/special/color}">
                                <span>Color</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/materials/special/manufacturer}">
                                <span>Manufaturer</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/materials/special/manufcode}">
                                <span>Manuf Code</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active"><a th:href="@{'/materials/Frame'}">Frames</a>
                    <ul>
                        <li th:each="fr : ${frames}">
                            <a th:href="@{/materials/Frame/{product}(product=${fr.material})}">
                                <span th:text="${fr.material}"/></a>
                        </li>

                    </ul>
                </li>
                <li class="active"><a th:href="@{'/materials/Finish'}">Finish</a>
                    <ul>
                        <li th:each="fin : ${finish}">
                            <a th:href="@{/materials/Finish/{product}(product=${fin.material})}">
                                <span th:text="${fin.material}"/></a>
                        </li>

                    </ul>
                </li>
                <li class="active"><a th:href="@{'/materials/Top'}">Top</a>
                    <ul>
                        <li th:each="top : ${tops}">
                            <a th:href="@{/materials/Top/{product}(product=${top.material})}">
                                <span th:text="${top.material}"/></a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:replace="scripts/script::home"/>
</body>
</html>