<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::products"/>
<body>
<th:block th:replace="fragments/navbar"/>
<div class="container">
    <!-- Feature List - START -->
    <div class="row">

        <div class="page">
            <div class="row">
                <form action="/category/add" method="POST" th:object="${category}">
                    <div class="col-md-12 form-group">
                        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div>
                            <div class="col-md-6"
                                 th:classappend="${#fields.hasErrors('name')} ? 'has-danger'">
                                <input class="col-md-12 list-group-item" type="text" name="name" min="1"
                                       placeholder="Category" th:field="${category.name}"/>
                                <div class="feedback"
                                     th:each="error : ${#fields.errors('name')}"
                                     th:text="|${error}|"/>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-3"
                                 th:classappend="${#fields.hasErrors('code')} ? 'has-danger'">
                                <input class="col-md-12 list-group-item" type="text" name="code" size="1"
                                       placeholder="Category code" th:field="${category.code}"/>
                                <div class="feedback"
                                     th:each="error : ${#fields.errors('code')}"
                                     th:text="|${error}|"/>
                            </div>
                        </div>
                        <div class="col-md-3" style="float: right">
                            <input class="btn btn-default btn-outline btn-circle" type="submit" value="Add Category"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
    </div>
    <div class="conteiner">
        <table class="text-center table table-hover">
            <thead>
            <tr>
                <td>
                    <span>Category</span>
                </td>
                <td>
                    <span>Codes</span>
                </td>
                <td>
                    <span>Edit</span>
                </td>
                <td>
                    <span>Delete</span>
                </td>
            </tr>
            </thead>
            <tbody th:each="category : ${categories}">
            <tr>
                <td>
                    <span th:text="${category.name}"/>
                </td>
                <td>
                    <span th:text="${category.code}"/>
                </td>
                <td>
                    <a class="btn btn-default btn-outline btn-circle"
                       th:href="@{/categories/edit/{category}(category=${category.name})}">
                        <small><span th:text="${category.name}"></span></small>
                    </a>
                </td>
                <td>
                    <th:block th:if="${category.models.size()} == 0">
                        <a class="btn btn-default btn-outline btn-circle"
                           th:href="@{/categories/delete/{category}(category=${category.name})}">
                            <small><span th:text="${category.name}"></span></small>
                        </a>
                    </th:block>
                    <th:block th:if="${category.models.size()} > 0">
                        <sub>Cannot delete non empty Category</sub>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<th:block th:replace="scripts/script::home"/>
</body>
</html>