<div th:fragment="products">
    <nav class="text-center">
        <ul class="pagination">
            <th:block th:if="${products} != null">
                <!--Arrow left-->
                <th:block th:if="${products.hasPrevious()}">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous"
                           th:href="${products.hasPrevious()} ? ''  + '?page=' + ${products.previousPageable().getPageNumber()}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                </th:block>

                <!--Numbers-->
                <th:block th:if="${products.getTotalPages() > 1}">
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, products.getTotalPages() - 1)}"
                        th:classappend="${products.getNumber()==i} ? 'active'">
                        <a class="page-link" href="" th:href="'' + '?page=' + ${i}" th:text="${i + 1}">1</a>
                    </li>
                </th:block>

                <!--Arrow right-->
                <th:block th:if="${products.hasNext()}">
                    <li class="page-item">
                        <a class="page-link" aria-label="Next"
                           th:href="${products.hasNext()} ? ''  + '?page=' + ${products.nextPageable().getPageNumber()}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </nav>
</div>