<div lang="en"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <img class="navbar-brand" id="logoImage"
                     th:src="@{~/img/lazur.jpg}"/>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <form method="GET" action="/products/search">
                    <ul class="nav navbar-nav navbar-right">
                        <th:block sec:authorize="isAuthenticated()">
                            <li>
                                <input id="search" type="text" name="searchedWord" class="form-control form-rounded"
                                       placeholder="Search..."/>
                            </li>
                            <li>
                                <select id="searchOptions" name="searchOptions" class="btn btn-default btn-outline btn-circle"
                                        title="Search Options">
                                    <option value="">Search by</option>
                                    <option value="sku">SKU</option>
                                    <option value="name">Name</option>
                                </select>
                            </li>
                            <li>
                                <a href="/products" class="btn btn-default btn-outline btn-circle">Products</a>
                            </li>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li>
                                    <a href="/products/create" class="btn btn-default btn-outline btn-circle">New
                                        Product</a>
                                </li>
                                <li>
                                    <a href="/categories" class="btn btn-default btn-outline btn-circle">Categories</a>
                                </li>
                                <li>
                                    <a href="/materials" class="btn btn-default btn-outline btn-circle">Materials</a>
                                </li>
                                <li>
                                    <a href="/users" class="btn btn-default btn-outline btn-circle">Users</a>
                                </li>
                            </th:block>
                        </th:block>
                        <li sec:authorize="isAnonymous()">
                            <a href="/login" class="btn btn-default btn-outline btn-circle">Log In</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/logout" class="btn btn-default btn-outline btn-circle">Log Out</a>
                        </li>
                    </ul>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div>