<div lang="en"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div id='cssmenu'>
        <ul>
            <li id="menu-list-button" sec:authorize="isAnonymous()">
                <a href="/login">Log In</a>
            </li>
            <li id="menu-list-button" sec:authorize="isAuthenticated()">
                <a href="/logout">Log Out</a>
            </li>
            <li id="menu-list-button"  sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/products/create">New Product</a>
            </li>
            <li id="menu-list-button" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/users">Users</a>
            </li>
            <li id="menu-list-button" sec:authorize="hasRole('ROLE_ADMIN')" class="active">
                <a href="/categories">Categories</a>
                <ul th:if="${categories} != null">
                    <li th:each="category : ${categories}">
                        <a th:href="@{'/categories/' + ${category.name}}">
                            <h5><span th:text="${category.name}"/></h5>
                        </a>
                        <ul>
                            <li th:each="model : ${category.models}">
                                <a th:href="@{/categories/{category}/{model}(category=${category.name},model=${model.name})}"><span
                                        th:text="${model.name}"/> </a>
                                <ul>
                                    <li th:each="family : ${model.families}">
                                        <a th:href="@{/categories/{category}/{model}/{family}(category=${category.name},model=${model.name},family=${family.name})}">
                                            <span th:text="${family.name}"/>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-list-button" sec:authorize="hasRole('ROLE_ADMIN')" class="active"><a href="/materials">Materials</a>
                <ul>
                    <li th:if="${frames} != null">
                        <a th:href="@{'/materials/Frame'}">
                            <h5>Frame</h5>
                        </a>
                        <ul>
                            <li th:each="frame : ${frames}">
                                <a th:href="@{/materials/Frame/{product}(product=${frame.material})}">
                                    <span th:text="${frame.material}"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li th:if="${finish} != null">
                        <a th:href="@{'/materials/Finish'}">
                            <h5>Finish</h5>
                        </a>
                        <ul>
                            <li th:each="fin : ${finish}">
                                <a th:href="@{/materials/Finish/{product}(product=${fin.material})}">
                                    <span th:text="${fin.material}"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li th:if="${tops} != null">
                        <a th:href="@{'/materials/Top'}">
                            <h5>Tops-Seats</h5>
                        </a>
                        <ul>
                            <li th:each="top : ${tops}">
                                <a th:href="@{/materials/Top/{product}(product=${top.material})}">
                                    <span th:text="${top.material}"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li th:if="${frames} != null">
                        <a th:href="@{'/materials/special'}">
                            <h5>Materials Tops/Seats</h5>
                        </a>
                        <ul>
                            <li>
                                <a th:href="@{/materials/special/product}">
                                    <span>Product</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/color}">
                                    <span>Color</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/manufacturer}">
                                    <span>Manufaturer</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/materials/special/manufcode}">
                                    <span>Manuf Code</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-list-button" sec:authorize="isAuthenticated()" class='active'><a href="/products">Products</a>
                <ul th:if="${categories} != null">
                    <li th:each="category : ${categories}">
                        <a th:href="@{'/products/' + ${category.name}}">
                            <h5><span th:text="${category.name}"/></h5><b class="caret"></b>
                        </a>
                        <ul>
                            <li th:each="model : ${category.models}">
                                <a th:href="@{/products/{category}/{model}(category=${category.name},model=${model.name})}"><span
                                        th:text="${model.name}"/> </a>
                                <ul>
                                    <li th:each="family : ${model.families}">
                                        <a th:href="@{/products/{category}/{model}/{family}(category=${category.name},model=${model.name},family=${family.name})}">
                                            <span th:text="${family.name}"/>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form method="GET" action="/products/search">
                    <input class="form-rounded" id="search" type="text" name="searchedWord" placeholder="Search..."/>
                    <select class="form-rounded" id="searchOptions" name="searchOptions" title="Search Options">
                        <option value="">Filter</option>
                        <option value="sku">SKU</option>
                        <option value="name">Name</option>
                    </select>
                </form>
            </li>
        </ul>
    </div>
    <a href="http://www.lazurbespoke.com"><img id="logoImage"
                                               src="/../../static/img/lazur.jpg"
                                               th:src="@{/img/lazur.jpg}"/></a>
</div>