<th:block th:fragment="login">
    <script th:src="@{/../../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/../../js/jquery-1.10.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/../../js/filestyle.min.js}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.forgot-pass').click(function (event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function (event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
        });

    </script>
</th:block>
<th:block th:fragment="home">
    <script th:src="@{/../../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/../../js/jquery-1.10.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/../../js/filestyle.min.js}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        (function () {
            document.getElementById('search').focus();
        }());

        function showBarcode(barcode, style) {
            var image = new Image();
            image.src = barcode;
            if (style == 'qrCode') {
                var w = window.open('', 'New Page', 'width = 280, height = 300');
                w.document.write(image.outerHTML);
                w.focus();
                w.print();

            } else {
                let w = window.open('', 'Print barcode', 'width = 350, height = 280');
                w.document.write(image.outerHTML);
                w.focus();
                w.print();
            }

        }
    </script>
</th:block>

<th:block th:fragment="products">
    <script th:src="@{/../../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/../../js/jquery-1.10.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/../../js/filestyle.min.js}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>


        function setCreateRoute() {
            $('#formUrl').attr('action', '/products/add');
        }


        function loadModelsBasedOnCategory() {
            $('#modelName').empty();
            let categoryName = $('#categoryName').val();
            $.ajax({
                type: 'GET',
                url: '/models/' + categoryName,
                data: 'json',
                success: function (models) {
                    $('#modelName').append(
                        $("<option></option>")
                            .attr('value', "")
                            .text("Select Model"));
                    $.each(models, function (i, model) {
                        let modelName = model.name;
                        $('#modelName').append(
                            $("<option></option>")
                                .attr('value', modelName)
                                .text(modelName));
                    })
                }
            })
        }

        function loadFamiliesBasedOnModel() {
            $('#familyName').empty();
            let categoryName = $('#categoryName').val();
            let modelName = $('#modelName').val();
            $.ajax({
                type: 'GET',
                url: '/families/' + categoryName + '/' + modelName,
                data: 'json',
                success: function (families) {
                    $('#familyName').append(
                        $("<option></option>")
                            .attr('value', "")
                            .text("Select Family"));
                    $.each(families, function (i, family) {
                        let familyName = family.name;
                        $('#familyName').append(
                            $("<option></option>")
                                .attr('value', familyName)
                                .text(familyName));
                    })
                }
            })
        }

        function loadFinishTypes() {
            $('#finishType').empty();
            let finishName = $('#finishMaterial').val();
            if (finishName == 'None') {
                $('#finishType').append(
                    $("<option></option>")
                        .attr('value', "none")
                        .text("None"));
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/finish/' + finishName,
                    data: 'json',
                    success: function (finishes) {
                        $('#finishType').append(
                            $("<option></option>")
                                .attr('value', "")
                                .text("Select Type"));
                        $.each(finishes, function (i, finish) {
                            let finishName = finish.name;
                            $('#finishType').append(
                                $("<option></option>")
                                    .attr('value', finishName)
                                    .text(finishName));
                        })
                    }
                })
            }
        }

        function loadFrameTypes() {
            $('#frameType').empty();
            let frameName = $('#frameMaterial').val();
            if (frameName == "None") {
                $('#frameType').append(
                    $("<option></option>")
                        .attr('value', "none")
                        .text("None"));
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/frame/' + frameName,
                    data: 'json',
                    success: function (frmaes) {
                        $('#frameType').append(
                            $("<option></option>")
                                .attr('value', "")
                                .text("Select Type"));
                        $.each(frmaes, function (i, frame) {
                            let frameName = frame.name;
                            $('#frameType').append(
                                $("<option></option>")
                                    .attr('value', frameName)
                                    .text(frameName));
                        })
                    }
                })
            }
        }

        function loadTopTypes() {
            $('#topType').empty();
            let topName = $('#topMaterial').val();
            if (topName == "None") {
                $('#topType').append(
                    $("<option></option>")
                        .attr('value', "none")
                        .text("None"));
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/top/' + topName,
                    data: 'json',
                    success: function (tops) {
                        $('#topType').append(
                            $("<option></option>")
                                .attr('value', "")
                                .text("Select Type"));
                        $.each(tops, function (i, top) {
                            let topName = top.name;
                            $('#topType').append(
                                $("<option></option>")
                                    .attr('value', topName)
                                    .text(topName));
                        })
                    }
                })
            }
        }

    </script>
</th:block>